In [1]:
import pymysql

In [2]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='Aman@9918')

In [3]:
cursor = connection.cursor()

In [4]:
##create database
# Create a new database named 'hospital'
query = "CREATE DATABASE IF NOT EXISTS hospital"
cursor.execute(query)
connection.commit()
# Use the 'hospital' database
query2 = "USE hospital" 
cursor.execute(query2)

0

In [21]:
#create a table
query = """use hospital;
create table doctor(doctor_id int PRIMARY KEY,
first_name varchar(50),
last_name varchar(50),
specialty varchar(50),
phone_number varchar(15),
email varchar(50)
);

create table patient(patient_id int PRIMARY KEY,
first_name varchar(50),
last_name varchar(50),
gender char(1),
date_of_birth date ,
phone_number varchar(15),
city varchar(50),
email varchar(50)
);

create table appointment(appointment_id int PRIMARY KEY,
patient_id int,
doctor_id int,
appointment_date date,
appointment_time time,
reason varchar(255),
status varchar(50)
);

create table treatment(treatment_id varchar(255) PRIMARY KEY,  
 appointment_id int,
 diagnosis varchar(255),
    treatment_details varchar(255),
    prescription varchar(255),
    treatment_date date
    );
create table billing(billing_id int PRIMARY KEY,
treatment_id VARCHAR(255),
    amount decimal(10, 5),
    payment_status varchar(50),
    billing_date date
);


ALTER TABLE billing ADD FOREIGN KEY (treatment_id) REFERENCES treatment(treatment_id);
ALTER TABLE appointment ADD FOREIGN KEY (patient_id) REFERENCES patient(patient_id);
ALTER TABLE appointment ADD FOREIGN KEY (doctor_id) REFERENCES doctor(doctor_id);
ALTER TABLE treatment ADD FOREIGN KEY (appointment_id) REFERENCES appointment(appointment_id);
"""

In [ ]:
for statement in query.split(';'):
    if statement.strip():  # Check if the statement is not empty
        cursor.execute(statement.strip())

connection.commit()

CSV DATA READ AND INSERT INTO TABLE

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
engine = create_engine('mysql+pymysql://root:Aman%409918@localhost/hospital')

In [8]:
doctor = pd.read_csv('data/doctors.csv')
appointment = pd.read_csv('data/appointments.csv')
patient = pd.read_csv('data/patients.csv')
treatment = pd.read_csv('data/treatments.csv')
billing = pd.read_csv('data/billing.csv')

In [ ]:
appointment.head()

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason,status
0,1,165,18,2024-06-23,7:40:54,Follow-up,Completed
1,2,200,16,2024-01-30,21:49:53,Emergency Visit,Scheduled
2,3,317,20,2024-09-30,14:40:15,Follow-up,Completed
3,4,189,4,2024-01-20,9:57:59,Emergency Visit,Scheduled
4,5,61,3,2024-12-17,16:43:14,Follow-up,Scheduled

In [ ]:
treatment.head()

,treatment_id,appointment_id,diagnosis,treatment_details,prescription,treatment_date
0,TRID1,1,Diabetes,Head wear strategy art candidate. Method conce...,Street effect debate available.,2024-11-19
1,TRID2,2,Muscle Strain,Attorney scientist eat want hundred amount rea...,Even thus change.,2024-12-23
2,TRID3,3,Angina,Special energy strong question than among check.,Situation line one box can reach herself.,2024-04-08
3,TRID4,4,Hypertension,Possible company process answer similar star t...,Catch table base thousand.,2024-11-02
4,TRID5,5,Angina,Why number five each less lead try. Do accordi...,Suffer sister force hour maybe instead.,2024-04-01

In [14]:
billing['billing_date'] = pd.to_datetime(billing['billing_date']).dt.strftime('%Y-%m-%d')

In [15]:
treatment['treatment_date'] = pd.to_datetime(treatment['treatment_date']).dt.strftime('%Y-%m-%d')

In [16]:
patient['date_of_birth'] = pd.to_datetime(patient['date_of_birth']).dt.strftime('%Y-%m-%d')

In [17]:
appointment['appointment_date'] = pd.to_datetime(appointment['appointment_date']).dt.strftime('%Y-%m-%d')

In [ ]:
doctor.to_sql('doctor', con=engine, if_exists='append', index=False)
patient.to_sql('patient', con=engine, if_exists='append', index=False)

In [18]:
appointment.to_sql('appointment',con=engine,if_exists='append',index=False)

500

In [22]:
treatment.to_sql('treatment',con=engine,if_exists='append',index=False)

500

In [23]:
billing.to_sql('billing',con=engine,if_exists='append',index=False)

500